<% provide(:title, "User Log in") %>
  <head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Font Awesome Icons -->
  <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
  
  <style>
    form{
      text-align: center !important;
    }
    div.container.text-center{
      padding-left: 12.5% !important;
      padding-right: 12.5% !important
    }
    div.row{
      padding-left: 30% !important;
      padding-right: 30% !important;  
    }
  </style>


  </head>
  <body id="page-top">

 
  <section id="user" class="signup-section">
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <h1 class="text-uppercase">
            <strong>Student Log in</strong>
          </h1>
          <hr>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="container text-center">
              <%= form_for(:session, url: user_login_path) do |f| %>
          
                <%= f.label :student_id, "Student ID" %>
                <%= f.text_field :student_id, class: 'form-control' %>
          
                <%= f.label :password %>
                <%= link_to "(forgot password)", new_password_reset_path %>
                <%= f.password_field :password, class: 'form-control' %>
          
                <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this device</span>
                <% end %>
          
                <%= f.submit "Log in", class: 'btn btn-primary' %>
               <% end %>
         
             <p>New user? <%= link_to "Sign up now!", formA_path %></p>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>
  
    
  <!-- Bootstrap core JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>
  
  
  </body>
  
