<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
          
          <%= f.label :student_id, "Student ID" %>
          <%= f.text_field :student_id, class: 'form-control' %>
          
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          
          <%= f.submit "Log in", class: 'btn btn-primary' %>
         <% end %>
         
         <p>New user? <%= link_to "Sign up now!", formA_path %></p>
    </div>
</div>