<% provide(:title, 'Supervisor') %>

<html lang="en">

  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Font Awesome Icons -->
  <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
      
      
      
      
      
      <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
                <strong>Supervisor Sign up</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"> Please provide your information below to create your supervisor account. Students who list your email when inputting their hours will be seen in your homepage to be confirmed. </p>
          </div>
        </div>
      </div>
    </header>
    
      <div class="container text-center">
        <h2 class="mb-4">Sign up</h2>
        <hr>
        <div class="row">
          <div class="container text-left">
            <%= simple_form_for @supervisor do |f| %>
              <%= render 'shared/error_sup_messages', object: f.object %>
                <%= f.label :first_name, "First Name" %>
                <%= f.text_field :first_name, class: 'form-control'  %>
          
                <%= f.label :last_name, "Last Name" %>
                <%= f.text_field :last_name, class: 'form-control'  %>
          
                <%= f.label :email, "Supervisor Email" %>
                <%= f.email_field :email, class: 'form-control'  %>
                
                <%= f.label :organization, "Organization" %>
                <%= f.text_field :organization, class: 'form-control'  %>
            
                <%= f.label :address, "Location/Address of Organization" %> 
                <%= f.text_field :address, class: 'form-control'  %>
                
                 <%= f.label :role, "Role at organization" %>
                <%= f.text_field :role, class: 'form-control'  %>
          
                <%= f.label :telephone, "Phone number" %>
                <%= f.text_field :telephone, class: 'form-control'  %>
          
                <%= f.label :password, "Password (At least 6 characters)"%>
                <%= f.password_field :password, class: 'form-control' %>
          
                <%= f.label :password_confirmation, "Password Confirmation" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <br>
        <%= f.input_field :signature, as: :hidden, class: 'signature_pad_input' %>
          <div class="row">
            <div class="container text-center">
              <%= f.label :signature, "Parent Signature"%>
            </div>
          </div>
          <div class="signature_pad text-center">
            <div class="signature_pad_body">
              <canvas></canvas>
            </div>
          <div class="signature_pad_footer">
            <div class="text-muted">Sign above</div>
              <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
                <br>
                  <div class="row">
                    <div class="container text-center">
                      <%= f.button :submit, 'Create Account', class: 'btn btn-success signature_pad_save'  %>
                      <% end %>

      
      
      
      
      

  <!-- Bootstrap core JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>
  
</html>