<% provide(:title, 'Reset password') %>
  <head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Font Awesome Icons -->
  <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">


  </head>
  
  <body id="page-top">
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <h1 class="text-uppercase">
            <strong>Reset Password</strong>
          </h1>
          <hr>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="container text-left">
               <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
                   
                   <!-- < %= render 'shared/error_messages', object: f.object % >-->

                   <%= hidden_field_tag :email, @user.email %>

                   <%= f.label :password %>
                   <%= f.password_field :password, class: 'form-control' %>

                   <%= f.label :password_confirmation, "Confirmation" %>
                   <%= f.password_field :password_confirmation, class: 'form-control' %>

                   <%= f.submit "Update password", class: "btn btn-primary" %>
              <% end %>
             </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
  <!-- Bootstrap core JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>
  
  </body>
  
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>