<% provide(:title, "New Hour") %>

<html lang="en">
    
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Font Awesome Icons -->
  
  <link href="/assets/startbootstrap-creative/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/assets/startbootstrap-creative/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="/assets/startbootstrap-creative/css/creative.min.css" rel="stylesheet">
  
  <style>
   #new_hour{
    padding-left: 20% !important;
    padding-right: 20% !important; 
   }
  </style>
  
  

  </head>  
  
  <body id="page-top">
   
   <header class="masthead text-center text-white d-flex">
       <div class="container my-auto">
        <div class="row">
         <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
           <strong>New Community Service</strong>
          </h1>
         </div>
        </div>
      
      <section id="new_hour">
          <div class="container text-center">
              <hr>
              <div class="row">
                  <div class="container text-center">
                      <%= form_for @hour, url: new_hour_path do |hour_builder| %>
                         <%= render 'shared/error_messages', object: hour_builder.object %>
                         
                         
                         <%= hour_builder.label :content, "Hours to input (can be a decimal)" %>
                         <%= hour_builder.text_field :content, class: 'form-control' %>
                   
                        
                           <%= hour_builder.label :email, "Email of supervisor" %>
                           <%= hour_builder.text_field :email, class: 'form-control' %>
                           
                           <!--
                           < %= hour_builder.label :organization, "Organization" %>
                           < %= hour_builder.text_field :organization, class: 'form-control' %>
                           -->

                         <%= hour_builder.submit 'Log Hours', class: 'btn btn-success' %>
                         <% end %>
                  </div>
              </div>
          </div>
          <p>Even if your supervisor isn't in the supervisor list, that is fine</p>
          <p>Just submit your hours with their email and they will soon be able to approve of your request</p>
      </section>
      
      </div>
      </header>
     <!-- Bootstrap core JavaScript -->
     <script src="/assets/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
     <script src="/assets/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Plugin JavaScript -->
     <script src="/assets/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
     <script src="/assets/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

     <script src="/assets/startbootstrap-creative/js/creative.min.js"></script>
     
  </body>
    
</html>