<% provide(:title, @user.email) %>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/formA">Community Service</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/formA">Form A</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/formB">Form B</a>
            </li>
            <% if !logged_in? %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/login">Log in</a>
                </li>
            <% end %>
            <% if logged_in? %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/formC">Hours</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                         Account <b class="caret"></b>
                    </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Total Hours", current_user %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete %>
                  </li>
               </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    
<html lang="en">
 <div class="card mb-3">
   <div class="card-header">
    <i class="fas fa-table"></i>
    Total hours for <%= @user.first_name %> <%= @user.last_name %>, with <%= @user.hours.count(:content) %> entries and a total of <%= Hour.sum(:content) %> hours
   </div>
   <div class="card-body">
     <div class="table-responsive">
       <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div clas="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thread>
                <tr role="row">
                  <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Hour ID: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                    Hour ID
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Hours: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                    Hours
                  </th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 55px;" aria-sort="descending">
                    Date
                  </th>
                </tr>
              </thread>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">Hour ID</th>
                  <th rowspan="1" colspan="1">Hours</th>
                  <th rowspan="1" colspan="1">Date</th>
                </tr>
              </tfoot>
              <tbody>
                <tr class="row">
                  <% if @user.hours.any? %>
                    <%= render @hours %>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
       </div>
     </div>
   </div>
 </div>
</html>