    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Community Service</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/formA">Form A</a>
            </li>
            <% if current_user.try(:admin?) %>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/admin">Admin</a>
              </li>
            <% end %>
            <% if current_supervisor.try(:admin?) %>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/admin">Admin</a>
              </li>
            <% end %>
            <% if !current_user.nil? %>
              <% if !logged_in? %>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login">Log in</a>
                  </li>
              <% end %>
              <% if logged_in? %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/new_hour">New Hour</a>
                </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           Account <b class="caret"></b>
                      </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Total Hours", current_user %></li>
                    <li><%= link_to "All Supervisors", href="/supervisors" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", user_logout_path, :method => 'delete' %>
                    </li>
                 </ul>
                </li>
                <% end %>
            <% elsif !current_supervisor.nil? %>
              <% if supervisor_logged_in? %>
                 <li class="nav-item">
                   <a class="nav-link js-scroll-trigger" href="/approved">Approved Hours</a>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                     <li><%= link_to "Approve Hours", current_supervisor %></li>
                     <li class="divider"></li>
                    <li>
                       <%= link_to "Log out", supervisor_logout_path, method: :delete %>
                     </li>
                   </ul>
                 </li>
              <% end %>
              <% if !supervisor_logged_in? %>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/supervisor_login">Log in</a>
                  </li>
              <% end %>
             <% elsif current_supervisor.nil? && current_user.nil? %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/user_login">Log in</a>
                  </li>
             <% end %>
          </ul>
        </div>
      </div>
    </nav>
    