<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
   <%= stylesheet_link_tag "custom" %>
   <% if current_page?(controller: 'sessions', action: 'create') %>
     <%= stylesheet_link_tag "sessions" %>
   <% end %>
   <% if current_page?(controller: 'admin') %>
     <%= render 'layouts/admin_header' %>
   <% else %>
     <%= render 'layouts/header' %>
   <% end %>
   <%= render 'layouts/shim' %>
   
   <%= favicon_link_tag asset_path('image-name.ico') %>
   
  </head>
  <body>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <br>
        <br>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
