<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Community Service", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "FORM A",   root_path %></li>
        <li><%= link_to "FORM B",   '#' %></li>
        <li><%= link_to "FORM C",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
    <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
